:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-dark-color: #10121a;
  --background-dark-grey: #191d2b;
  --border-color: #2e344e;
  --background-light-color: #f1f1f1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --white-color: #fff;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191d2b;
  --scrollbar-bg-color: #383838;
  --scrollbar-thump-color: #6b6b6b;
  --scrollbar-track-color: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
}

body {
  background-color: var(--background-dark-color);
  color: var(--font-light-color);
  transition: all 0.4s ease-in-out;
}

a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
  color: var(--white-color);
  span {
    font-size: 4rem;
  }
}

span {
  color: var(--primary-color);
}

.notify {
  top: 92vh;
  background: #ffffff;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0%;
  font-family: Inder;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: nowrap;
  gap: 4vw;
  width: fit-content;
  transition: 0.2s ease-in-out;
  z-index: -1;
  opacity: 0;
  border: 1px solid rgb(0 0 0 / 30%);
}
.notify-content {
  color: #000;
  font-size: 1vw;
  font-weight: 500;
}

.notify-button {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  font-weight: 600;
  min-width: 7vw;
  font-size: 1vw;
  cursor: pointer;
}
.notify-button:hover {
  background: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
.hno {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
}
.hno:hover {
  color: black;
  font-weight: 500;
}

#spurl {
  margin-top: 1%;
  font-size: 0.7vw;
  cursor: pointer;
}
.prcon2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  gap: 3vw;
  align-items: center;
}
.prcon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14vw;
  align-items: flex-start;
}
.arrcon {
  width: 20vw;
}
.prof-cpn {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.prof-pic {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
}
.prof-pic:hover {
  border: 2px solid rgb(70, 70, 70);
  opacity: 0.7;
  background-blend-mode: darken;
}

.picdp {
  opacity: 0;
  position: absolute;
}
.prof-pic:hover + .picdp {
  opacity: 1;
}
.custom-file-upload {
  padding: 0.3vw 0.8vw;
  cursor: pointer;
  font-family: OCRAq;
  font-weight: 500;
  font-size: 0.8vw;
  background: black;
  color: white;
  border: 2px solid white;
  text-align: center;
  width: 100%;
}
.custom-file-upload:hover {
  color: black;
  background: white;
  border: 2px solid black;
}
.file-group {
  margin-top: 5%;
  width: 10vw;
  display: flex;
  position: relative;
}
#file-upload {
  display: none;
}
.hc ul {
  padding: 0px;
}
.hc .nav-link {
  font-size: 0.9vw;
}

.rl {
  background-color: rgba(0, 0, 0, 0);
  height: 4vw;
}
.underline {
  position: relative;
}
.m1 {
  border: #00000000;
}
button {
  min-width: 5vw;
  /* max-width: 7vw; */
  padding: 0.7vw 0.3vw;
  background-color: #fbfbfb00;
  color: var(--f0);
  border: 2px solid rgba(255, 255, 255, 0.449);
  font-size: 1vw;
  text-align: center;
  transition: 0.1s;
  cursor: pointer;
}
.header-container {
  position: fixed;
  opacity: 1;
  transition: 0.2s ease-in-out;
  z-index: 20;
  top: 0px;
  left: 0px;
}

.nlogo {
  height: 5vw;
  margin: 1vw;

  margin-left: 5vw;
  margin-right: 5vw;
}

.navbar {
  z-index: 13;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 4vw;
  background: rgba(0, 0, 0, 0.9);
  justify-content: space-between;
  align-items: center;
  top: 1.5vw;
}

.nav-logo {
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1.9vw;
  opacity: 1;
  transition: 0.3s ease-in-out;
  width: 14vw;
}

.hc .nav-link {
  font-size: 0.9vw;
}

.hc {
  position: relative;
  transform: translate(0%, 0%);
  left: 0%;
  top: 0%;
}

.hc ul li {
  padding-top: 0%;
}

.acola {
  text-decoration: none;
  color: #2b2b2b;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;

  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.underline2 {
  position: relative;
  animation: oo 4s infinite ease-in-out;
  animation-play-state: running;
}

@keyframes oo {
  0% {
    right: 0;
    width: 0;

    background-color: #00000090;
  }
  80% {
    border-color: rgba(0, 0, 0, 0.291);
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.291);
  }
}

.link {
  height: 4vw;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  width: fit-content;
  margin-top: 5%;
  /* margin-left: 9%; */
  background-color: #4242426c;
  background-color: #2e2e2e52;
  padding: 1vw;
  text-transform: uppercase;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 2vw;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 1.2vw;
  line-height: 1.8vw;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.link-icon {
  position: relative;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8vw;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.icon {
  display: block;
  position: absolute;
  transition: transform 0.4s ease;
  fill: white;
}

.icon:nth-child(2) {
  transform: translate(-40px);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
  /* background-color: #ffffff;
      color: black; */
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}

.hculi {
  padding: 7px 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  min-width: 6vw;
  transition: 0.1s;
}

.hculi:hover {
  background-color: #00000000;
  color: var(--f0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.rl {
  background-color: rgba(0, 0, 0, 0);
  height: 4vw;
}

.rl:hover {
  color: #fff;
  background-color: rgba(209, 0, 0, 0);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
    0 0 92px #0fa;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9c5;
  min-width: 160px;
  z-index: 1;
  margin-top: 4vw;
  /* right: -60%; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9vw;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hc {
  transition: 0.3s ease-in-out;
}

.navbar {
  transition: 0.2s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}
.hc ul {
  gap: 0%;
}
.head-con ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0%;
}

@font-face {
  font-family: "Advent Pro";
  src: url("./src/assets/font/TrenchThin-aZ1J.ttf") format("opentype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("./src/assets/font/Inconsolata-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Libre Barcode";
  src: url("./src/assets/font/LibreBarcode128Text-Regular.ttf")
    format("opentype");
}

@font-face {
  font-family: "cocoon";
  src: url("./src/assets/font/Eloxy-owYD0.otf") format("opentype");
}

@font-face {
  font-family: "LINC";
  src: url("./src/assets/font/TrenchThin-aZ1J.ttf") format("opentype");
}

.to_title {
  font-size: 2vw;
  margin-top: 12%;
  margin-left: 9%;
  font-weight: lighter;
}
.slogans {
  margin-top: 1vw;
  width: fit-content;
  font-size: 0.7vw;
  font-weight: 100;
  font-style: italic;
  opacity: 0.8;
}
.desc {
  font-weight: 100;
  font-size: 1.1vw;
  margin-top: 3%;
  font-style: normal;
  color: #eee;
  margin-left: 9%;
  margin-right: 9%;
  line-height: 150%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.screen {
  backdrop-filter: blur(20px);
  /* background-color: var(--b1); */
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  animation: curtdrop 2s ease-in-out 1;
}

@keyframes curtdrop {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.svlogo {
  background: url(../static/Vector\ 1.svg);
  transform: scaleX(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: startup 2s ease-in-out 1;
  opacity: 0;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  /* cubic-bezier(0.77, 0, 0.175, 1) */
}
.load-con {
  position: fixed;
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1.8vw;
}

@keyframes startup {
  0% {
    opacity: 0;
    clip-path: circle(0% at 50% 50%);
  }
  20% {
    opacity: 0.5;
    clip-path: circle(100% at 50% 50%);
  }

  70% {
    opacity: 1;
    transform: scaleX(1) scale(1);
  }

  80% {
    opacity: 0;
  }

  90% {
    transform: scaleX(-1) scale(0.6);
  }
}

.progress-curt {
  background: rgba(0, 0, 0, 1);
  height: 100%;
  width: 100%;
  z-index: 98;
  opacity: 0;
  animation: progmove 1s ease-in-out 1;
}

@keyframes progmove {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.tname {
  text-align: center;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8vw;
  transform: scale(0.6);
  animation: startup2 2s ease-in-out 1;
  opacity: 0;
}

@keyframes startup2 {
  0% {
    transform: scale(1);
  }

  30% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 0;
  }

  90% {
    transform: scale(0.6);
  }
}
.ffar {
  position: absolute;
  right: 3%;
  top: 0.7vw;
  font-size: 1.2vw;
  cursor: pointer;
  color: rgb(175, 175, 175);
  display: none;
}
.ffar:hover {
  color: rgb(255, 254, 254);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.lines-con {
  position: absolute;
  left: -35%;
  top: 77%;
  transform: translate(0%, -0%);
  /* animation: lines-con 17s ease-in-out infinite;*/
}
.lc2 {
  left: -30%;
  top: -60%;
  transform: translate(-30%, -60%);
}
.lc3 {
  left: 50%;
  top: 10%;
  transform: translate(-0%, -30%);
}
@keyframes lines-con {
  0% {
  }
  50% {
    transform: translate(-30%, -40%);
  }
}
::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.lines {
  z-index: -3;
  border: 1px solid #ffffff8d;
  background-color: #01010100;
  height: 80vw;
  width: 80vw;
  border-radius: 50%;
  animation: lines 7s ease-in-out infinite;
  top: 50%;
  transform: rotateZ(0deg);
}
.llc2 {
  height: 98vw;
  width: 98vw;
}
@keyframes lines {
  0% {
    border-radius: 50%;
  }

  50% {
    border-radius: 25%;
    transform: rotateZ(360deg);
  }

  90% {
  }
}
.v542_780 {
  width: 10vw;
  height: 2.8vw;
  background: url(./static/images/v542_780.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  border-radius: 7px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
}
.v542_780:hover {
  opacity: 0.7;
}
.v542_782 {
  width: 2vw;
  height: 2.1vw;
  background: url("./static/images/v542_782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  border-radius: 7px;
}
.divider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.6vw;
  margin-bottom: 1.6vw;
}
.linne {
  width: 30%;
  border: 1px solid #ffffff69;
}
.v542_779 {
  color: rgba(255, 255, 255, 0.8700000047683716);
  top: 0px;
  left: 164px;
  font-family: Jura;
  font-weight: Medium;
  font-size: 1vw;
  font-size: 0.98vw;
  opacity: 1;
  text-align: center;
}
.grpbut1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 22vw;
  margin-bottom: 3%;
}
.text-des {
  font-family: Inder;
  font-weight: Regular;
  font-size: 0.8vw;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.text-des:hover {
  text-decoration: underline;
}
.checkbox-group {
  margin-top: 3.5vw;
  font-family: Inder;
  font-weight: Regular;
  font-size: 0.8vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 1vw;
  align-items: flex-start;
  width: 20vw;
}
.checkbox-button {
  cursor: pointer;
  color: white;
  width: fit-content;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="checkbox"] {
  font-size: 1rem;
  line-height: 1.5;
  padding: 11px 23px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  width: 1vw;
}

.checkbox-button__input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.checkbox-button__control {
  position: relative;
  display: inline-block;
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 0.5vw;
  /* margin-left: 12px; */
  vertical-align: middle;
  background-color: inherit;
  color: #ffffff;
  border: 0.2vw solid rgba(255, 255, 255, 0.7);
}

.checkbox-button__input:checked + .checkbox-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 0.6vw;
  height: 0.6vw;
  background-color: #ffffff;
}

.checkbox-button__input:checked + .checkbox-button__control:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.3vw;
  left: 0.3vw;
  width: 0.6vw;
  height: 0.6vw;
  background-color: #ffffff;
}
.checkbox-button:hover .checkbox-button__control {
  border: 0.2vw solid rgb(255, 255, 255);
}
.checkbox-button__input:checked + .checkbox-button__control {
  border-color: #ffffff;
}

.checkbox-button__control {
  transform: scale(0.8);
}

@font-face {
  font-family: "OCRAq";
  src: url("../src/assets/font/OCRAq.TTF") format("opentype");
}
@font-face {
  font-family: "Advent Pro";
  src: url("../src/assets/font/TrenchThin-aZ1J.ttf") format("opentype");
}
@font-face {
  font-family: "cocoon";
  src: url("../src/assets/font/Eloxy-owYD0.otf") format("opentype");
}

.grain {
  background-image: url("/static/old-film-cracks-and-dust-textured-background-loop-video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.71;
  z-index: -1;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
}

body {
  background: #ffffff;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.lop {
  padding-right: 5px;
}
.t {
  font-size: 12px;
  font-weight: 500;
}
#ii {
  padding-bottom: 35px;
}
#for {
  float: right;
}
#rof {
  float: left;
  width: fit-content;
}
.s {
  padding-top: 35px;
}
#but {
}
#ro {
  float: left;
  padding-top: 7px;
}
#remember-me {
  height: 12px;
  width: 12px;
}
#login-form {
  width: 100%;
}
#login {
  display: block;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.main-tit-con {
  position: absolute;
  border: 0px solid white;
  margin-left: 10%;
  top: 36vh;
  display: flex;
  flex-direction: column;
  max-width: 35%;
}
.main-title {
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 3.8vw;
}
.main-title a {
  text-decoration: none;
  color: inherit;
}

.main-sub {
  font-family: "cocoon";
  font-weight: 100;
  font-size: 0.8vw;
  opacity: 0.6;
  margin-top: -1vw;
}
.line1 {
  font-family: "cocoon";
  font-weight: 100;
  font-size: 0.7vw;
  opacity: 0.4;
  transform: translate(-0%, 0%);
  max-width: 30%;
  margin-top: 0.3vw;
  display: none;
}
.v542_786_2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  row-gap: 1.9vw;
  flex-wrap: nowrap;
  width: 100%;
}
.v542_786 {
  background: url(./static/images/v542_786.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-10%, -50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  row-gap: 1vw;
  width: 22vw;
  /* height: 32vw; */
  /* border: 1px solid white; */
}
.lo-co1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 2vw;
  margin-bottom: 5vw;
}
.lo-co1-o1 {
  color: rgba(255, 255, 255, 1);
  left: 0px;
  font-family: Inder;
  font-weight: Regular;
  font-size: 2vw;
}
.lo-co1-o2 {
  width: 3vw;
  height: 3vw;
  background: url("./static/images/v542_761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  top: 0px;
  overflow: hidden;
  cursor: pointer;
}
.lo-co2-o1 {
  width: 100%;
  color: rgba(255, 255, 255, 0.800000011920929);
  font-family: Inder;
  font-weight: Regular;
  font-size: 1.5vw;
  opacity: 1;
  border: 0px;
  border-bottom: rgba(255, 255, 255, 0.463) 2px solid;
  background-color: transparent;
  padding: 1vw;
  outline: none;
}
.text-group {
  position: relative;
  margin-top: 2vw;
  width: 100%;
  font-family: Inder;
  width: 20vw;
}
input {
  font-size: 1vw;
  padding: 1vw 0vw 1vw 1vw;
  display: block;
  /* width: 300px; */
  border: none;
  border-bottom: 1px solid #b7b7b7;
  border-bottom: 1.1px solid #ffffffc5;
  background-color: transparent;
  color: white;
  width: 100%;
}
input:focus {
  outline: none;
}
input:disabled,
input[disabled] {
  background: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  color: black;
}

input[disabled] ~ label,
input:disabled ~ label {
  background: rgba(0, 0, 0, 0.9);
  text-decoration: line-through;
  color: black;
}

/* LABEL ======================================= */
.text-group label {
  color: rgb(175, 175, 175);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 1%;
  top: 1vw;

  left: 2%;
  top: 0.7vw;

  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-size: 1vw;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -0.8vw;

  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.9);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  /* width: 300px; */
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ffffff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  /* width: 100px; */
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }
  to {
    width: 0;
    background: transparent;
  }
}

input[type="submit"] {
  background: rgb(255, 255, 255);
  color: black;
  border: 2px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  width: 100%;
  font-weight: 900;
  font-family: "cocoon";
  font-weight: 500;
  font-family: "Inder";
  font-size: 1.2vw;
  text-align: center;
  /* height: 2.8vw; */
  border-radius: 4px;
  /* margin-top: 2vw;     */
  width: 20vw;
}
input[type="submit"]:hover {
  opacity: 0.7;
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5028512137276786) 30%, rgba(255,255,255,0.5028512137276786) 50%, rgba(255,255,255,0.4972489728313201) 70%, rgba(255,255,255,1) 100%); */
}
input[type="submit"]:active {
  background: rgb(61, 61, 61);
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.2);
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 1.8vw;
  cursor: pointer;
  line-height: 1.3vw;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: OCRAq;
  font-weight: Regular;
  font-size: 0.9vw;
  top: 0vw;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.1vw;
  height: 1.1vw;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 0.7vw;
  height: 0.7vw;
  background: #ffffff;
  position: absolute;
  top: 0.27vw;
  left: 0.27vw;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.form-group {
  border: 0px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 3vw;
  padding-bottom: 4vw;
  gap: 10vw;
}
.form {
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12vw;
  justify-content: center;
  margin-top: 7vw;
  align-content: space-around;
  row-gap: 6vw;
  flex-wrap: nowrap;
}
.det-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.fti {
  font: 1vw;
}
.phone {
}
.det-2 {
}
.det-3 {
}
.det-4 {
  width: 20vw;
  width: 20vw;
  display: flex;
  margin-top: 1.2vw;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1.6vw;
}
.det-4 input:focus ~ label,
input:valid ~ label {
}
.det-5 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1vw;
}
.det-0 {
  background-color: #ffffff00;
  width: 16vw;
  height: 4vw;
  margin-top: 0.5vw;
  /* background-image: url("./static/image 13.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
  border-radius: 7px;
  cursor: pointer;
}
.dddtt1 {
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  gap: 2vw;
  align-items: flex-start;
  display: flex;
  justify-content: center;
}
.top-label {
  color: rgb(175, 175, 175);
  font-weight: normal;
  pointer-events: none;
  position: relative;
  left: 2%;
  font-size: 1vw;
  font-family: Inder;
}
.top-label2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.title_bol {
  font-family: Inder;
  font-size: 2vw;
  text-align: center;
  margin-top: 4vw;
}
.tel-code {
  text-align: center;
}
.tell {
  width: 14vw;
}
.tell2 {
  width: 4vw;
}
.phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.g-recaptcha {
  transform: scale(0.82);
  transform-origin: 0 0;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

.top_nav {
  height: 1.5vw;
  width: 100vw;
  background: #333;
  left: 0;
  top: 0;
}
.nv2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 1.3vw;
  align-items: center;
}
.top_hint {
  display: flex;
  font-size: 0.8vw;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 1.5vw;
  gap: 1vw;
  margin-right: 3vw;
  align-items: center;
}
.toph {
  font-size: 0.7vw;
  border-left: 1vw solid white;
  border-left: 0.1vw solid white;
  padding-left: 1vw;
  display: flex;
}
.toph:hover {
  text-decoration: underline;
}
.icbut:hover {
  color: rgba(160, 160, 160, 0.8);
}
.body_layer {
  color: black;
  margin: 5vw;
  margin-top: 10vw;
  width: 100%;
  overflow: hidden;
}
.todays_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40vw;
  transform: translate(-50%, -50%);
  margin-top: 3vw;
}
#text-roller {
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  white-space: nowrap;
  font-size: 4vw;
  font-weight: 900;
  font-family: "cocoon";
  filter: invert(1);
  mix-blend-mode: difference;
  z-index: -1;

  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  white-space: nowrap;
  font-size: 4vw;
  font-weight: 900;
  font-family: "cocoon";
  filter: invert(1);
  mix-blend-mode: difference;
  z-index: 0;
  margin-top: 7vw;
}
* {
  margin: 0;
  left: 0;
  top: 0;
}

.option_cont {
  border: 0px solid rgb(255, 0, 0);
  width: 100%;
  height: 7vw;
  /* height: 5vw; */
  margin-top: 5.5vw;
  margin-top: 0;
  margin-bottom: 2vw;
  background: #2b2b2b;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  display: none;
}
.filt_area {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 0px solid green;
  font-family: "cocoon";
  margin: -0.5vw 3vw 0vw 3vw;
  /* transition: 0.2s ease-in-out; */
  padding-top: 9vw;
  background-color: white;
  z-index: 6;
  padding-bottom: 1.2vw;
  position: sticky;
  transition: top 0.2s ease-in-out 0s; /* only transition top property */
  top: 0;
}
.filcon {
  display: flex;
  flex-direction: column;
}
.categ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 2vw;
}
.filt {
  display: flex;
  gap: 3vw;
}
.filt_1 {
  font-size: 1.4vw;
  /* line-height: 2vw; */
  letter-spacing: 0.1vw;
  word-spacing: 0.4vw;
  transition: 0.2s ease-in-out;
}

.stpath {
}
.stpath:hover {
  text-decoration: underline;
}
.filt_2 {
  font-size: 1vw;
  display: flex;
  gap: 0.5vw;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product_list {
  background: rgb(238 238 238);
  height: fit-content;
  margin: 1.2vw 3vw 0vw 3vw;
  display: flex;
  flex-direction: column;
}
.side_bar {
  background: rgb(92, 92, 92);
  height: 60vw;
  width: 18vw;
  width: 35vw;
  min-width: 25vw;
  font-family: "cocoon";
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.side_bar::-webkit-scrollbar {
  width: 0.5vw;
  position: absolute;
  z-index: 19;
}
.side_bar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}
.side_bar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease-in-out;
}
.side_bar::-webkit-scrollbar-track {
  width: 0px;
  position: absolute;
  background: #fffefe00;
  transition: 0.3s ease-in-out;
}
.filb_con {
  display: flex;
  cursor: pointer;
  font-size: 1vw;
}
.filb_con:hover .filb {
  text-decoration: underline;
}
.filb {
  margin-left: 0.5vw;
}
.sideconmain1 {
  border: 0px solid brown;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.sideconmain2 {
  border: 0px solid brown;

  margin-top: 3vw;
  border-top: 0.1vw solid #ffffff4f;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.sid_axd {
  padding-top: 2vw;
}
.side_con_1 {
  width: 10vw;
  height: 10vw;
  color: white;
  border: 0px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 3vw;
}

.axd {
  margin-top: 0vw;
}
.side_con_1 ul li {
  list-style-type: none;
  margin: 1.4vw 0;
  display: flex;
  gap: 0.5vw;
}
.side_con_1 ul li a:hover {
  text-decoration: underline;
}
.side_con_2 {
  width: 3vw;
  height: 10vw;
  border: 0px solid cyan;
  margin-top: 0vw;
}
.prod-con {
  width: 100%;
  height: 100vh;
  border: 0px solid black;
  overflow-y: scroll;
  margin: 0;
  left: 0;
  top: 0;
  /* margin-top: 5.5vw !important; */
  color: #000;
  transition: 0.2s ease-in-out;
}
.tickcon {
  border: 0px solid brown;
  margin-top: 3vw;
  border-top: 0.1vw solid #ffffff4f;
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction: column;
}
.ticu {
  margin-top: 0px;
  border-top: 0vw solid #ffffff4f;
}
.ofn {
  color: white;
  margin-top: 2.5vw;
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
  margin-bottom: 0.5vw;
  margin-left: 2vw;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 1vw;
  height: fit-content;
  margin: 3vw 0vw 3vw 0vw;
  padding-bottom: 1vw;
}
.product_container {
  background: rgb(255, 255, 255);
  height: 25vw;
  width: 25vw;
  cursor: pointer;

  /* height: 22vw;
      width: 21vw; */
  border: 0.2vw solid rgba(0, 0, 0, 0);
  overflow: hidden;

  font-family: "OCRAq";
}
.product_container:hover {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  border: 0.2vw solid rgba(0, 0, 0, 0.1);
}
.prod_cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
}
.prod_img {
  height: 20vw;
  width: 20vw;
  border: 0px solid black;
  margin: 3vw;
  margin-top: 0vw;
}
.prod_name {
  font-size: 1.2vw;
}
.prod_desc {
  height: fit-content;
  width: 20vw;
  top: -5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin: 0vw 2vw 0vw 1.2vw;
  align-items: flex-start;
}
.prod_cat {
  margin-top: 0.5vw;
  font-size: 0.8vw;
  color: #000;
}
.prod_mrp {
  font-size: 1.2vw !important;
}
.offer {
  text-decoration: line-through;
}
.prod_price {
  margin-top: 0.5vw;
  display: flex;
  gap: 1vw;
  font-size: 1.3vw;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
.prod_buy {
  width: 100%;
  text-align: right;
  padding: 1vw 0vw 1vw 0vw;
  width: 10vw;
  margin-right: 2vw;
}
.price {
  display: flex;
  gap: 0.7vw;
  margin-left: 2vw;
  position: relative;
  transition: 0.2s ease-in-out;
  opacity: 1;
}
.prod_sale {
  width: 7vw;
  /* height: 1vw; */
  background-color: black;
  top: -22vw;
  position: relative;
  padding: 0.8vw;
  color: white;
  left: 16vw;
  padding-left: 2vw;
}
.prod_img_con {
  overflow: hidden;
  width: 100%;
  height: 16vw;
}
.product_container:hover .prod_desc .prod_name {
  text-decoration: underline;
}
.product_container:hover .prod_price .price {
  top: -3.1vw;
  /* left: 5vw; */
  opacity: 0;
}
.product_container:hover .prod_get {
  /* top: -2.8vw; */
  left: 2vw;
  top: -2.4vw;
}
.prod_get {
  /* position: relative;
    top: 1vw;
    width: 14vw;
    background: black;
    color: white;
    padding: 1vw;
    text-align: center;
    transition: 0.2s ease-in-out; */
  font-size: 1vw;
  top: 5vw;
  left: -23vw;

  left: 2vw;
  opacity: 1;
  position: relative;
  width: 14vw;
  background: black;
  color: white;
  padding: 1vw 4vw;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.prod_get:hover {
  /* background: #454545; */
  opacity: 0.7;
}
.prod_mr {
  font-weight: 600;
}
.press:hover {
  color: rgb(121, 121, 121);
  cursor: pointer;
}
.pink:hover {
  color: pink;
}
body {
  height: auto !important;
}
.product_container {
  background: rgb(255, 255, 255);
  height: 23vw;
  width: 21vw;
  border: 0.2vw solid rgba(0, 0, 0, 0);
  overflow: hidden;
  font-family: "OCRAq";
}
.prod_cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7vw;
}
.prod_img_con {
  overflow: hidden;
  width: 100%;
  height: 15vw;
}
.prod_img {
  height: 16vw;
  width: 16vw;
  border: 0px solid black;
  margin: 2.5vw;
  margin-top: 0vw;
  object-fit: contain;
}
.prod_img {
  height: 14vw;
  width: 14vw;
  border: 0px solid black;
  margin: 3.5vw;
  margin-top: 0vw;
  object-fit: contain;
}
.prod_img {
  height: 13vw;
  width: 13vw;
  border: 0px solid black;
  margin: 4.3vw;
  margin-top: 1vw;
  object-fit: contain;
}
.prod_sale {
  width: 7vw;
  /* height: 1vw; */
  background-color: black;
  top: -17vw;
  position: relative;
  padding: 0.6vw;
  color: white;
  left: 16vw;
  font-size: 0.8vw;
  padding-left: 1.4vw;
}
.prod_desc {
  height: fit-content;
  width: 16vw;
  top: -5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  /* margin: 0vw 0vw 0vw 2vw; */
  align-items: flex-start;
}
.prod_name {
  font-size: 1vw !important;
  font-weight: 500;

  width: 100%; /* Set the desired width of the container */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflow beyond the container's width */
  text-overflow: ellipsis;
}

.prod_name p {
  font-size: 1vw !important;
}
.truncate-text {
  margin: 0;
  padding: 0;
  overflow: visible;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_container:hover .prod_name .truncate-text {
  animation: scrollText 5s linear infinite;

  overflow: visible;
}

/* .product_container .prod_name:hover .truncate-text {
  animation: scrollText 5s linear infinite;

  overflow: visible;
} */

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.prod_cat {
  margin-top: 0.5vw;
  font-size: 0.7vw;
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  gap: 0.5vw;
  width: 100%;
  align-items: center;
}
.prod_cat * {
  font-size: 0.7vw;
}
.reviews {
  margin-top: 0;
  width: fit-content;
}
.prod_price {
  font-size: 0.5vw;
  margin-top: 0.5vw;
  display: flex;
  gap: 1vw;
  font-size: 1.3vw;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
.price {
  display: flex;
  gap: 0.7vw;
  margin-left: 2vw;
  position: relative;
  transition: 0.2s ease-in-out;
  opacity: 1;
  font-size: 1.1vw;
}
.prod_buy {
  width: 100%;
  text-align: right;
  padding: 1vw 0vw 1vw 0vw;
  width: 10vw;
  margin-right: 2vw;
  display: flex;
  gap: 0.5vw;
  font-size: 1.1vw;
  justify-content: flex-end;
}

.prod_get {
  top: 3vw;
  /* left: -23vw;*/

  left: 2.1vw;
  opacity: 1;
  position: relative;
  width: 14vw;
  background: black;
  color: white;
  padding: 0.7vw 3vw;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.product_container:hover .prod_price .price {
  top: -2vw;
  /* left: 5vw; */
  opacity: 0;
}
.product_container:hover .prod_get {
  /* top: -2.8vw; */
  /* left: 1.5vw; */
  left: 2.1vw;
  top: -2.4;
}
.sear {
  background: #e7e7e7;
  width: 35vw;
  height: 0vw;
  border-radius: 5px;
  color: #000;
  font-family: "cocoon";
}
.sear:focus {
  background-color: white;
}
.search_ico {
  left: -2vw;
  position: relative;
  cursor: pointer;
}
.search_ico:hover {
  font-weight: 900;
  color: #2b2b2b;
}
body {
  color: black;
  background: white;
}
.top_n {
  background: #ededed;
}
.product_list {
  background: rgb(247 247 247);
}
.top_nav {
  background: #ededed;
}
.navbar {
  background: white;
}
.toph {
  border-color: rgba(0, 0, 0, 0.1);
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
  border-color: black;
}
.underline {
  color: black;
  border-color: black;
}
.rl:hover {
  text-shadow: none;
  text-decoration: underline;
}
.underline::before {
  background-color: #000000;
}
.sort_cont {
  position: absolute;
  margin-top: 11.8vw;
  width: 17vw;
  height: 22.6vw;
  background: rgb(255 255 255);
  border: 2px solid #b7b7b7;
  left: 82%;
  display: none;
}
.sort_title_con {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
}
.sort_title_con_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.7vw 1.8vw;
  align-items: center;
  font-size: 1.1vw;
  margin-bottom: 2vw;
  padding-bottom: 1vw;
  border-bottom: 1px solid silver;
}
.close {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.3vw;
  border: 1px solid rgba(0, 0, 0, 0);
}
.close:hover {
  border: 1px solid black;
}
.sort_options {
  width: 100%;
  display: flex;
  gap: 0vw;
  flex-direction: column;
  align-items: center;
  height: 7vw;
}
.sort_opt {
  padding: 1vw 0vw;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 0.8vw;
}
.sort_opt:hover {
  background: #dedede;
}

.search_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* width fit search_input text */
.search_bar {
  display: flex;
  gap: 0.1vw;
  margin-bottom: 3vw;
}
.search_bar .search_inpt:focus {
  width: 27vw;
}
.search_inpt {
  color: #000;
  border: 1px solid #00000000;
  background: #e7e7e7;
  transition: 0.2s ease-in-out;
  width: 20vw;
}
.search_inpt:focus {
  background: #f5f5f5;
  border: 1px solid #aeaeae;
}

/* .search_inpt:focus .search_bar { */

.search_ico {
  background-color: #e7e7e7;
  width: 1vw;
  left: 0;
}
.search_ico:hover {
  background-color: #f5f5f5;
  border: 1px solid #aeaeae;
}

.search_title {
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5vw;
}

.api_type {
  position: fixed;
  top: 95%;
  left: 86%;
  font-weight: 600;
}

.searchtype {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.searchtype * {
  font-size: 0.8vw !important;
}

.stypelabel {
  visibility: hidden;
}

.but_mami {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
  background: black;
  color: white;
  padding: 0.6vw 1.2vw;
  border-radius: 5px;
}

.but_mami:hover {
  background: #454545;
}

.vprod_img {
  background: #ececec;
  width: 35vw;
  height: 35vw;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  flex-direction: column;
}

.vprod_img img {
  width: 64%;
  height: 64%;
  object-fit: contain;
}

.vprod_mig_dots_con {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
  height: 0;
}

.vprod_mig_dot {
  margin-top: 7vw;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 1);
  cursor: pointer;
}

.vprod_mig_dot:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.mig_dot_active {
  background-color: rgba(0, 0, 0, 1);
}
.but_mami {
  cursor: pointer;
}

.prod_first_view {
  display: flex;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.vprod_content {
  width: min-content;
  width: 28vw;
  /* height: 50vw; */
  /* background-color: #0000000c; */
  display: flex;
  flex-direction: column;
  gap: 1vw;
  height: 32vw;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: center;
}

.seperator {
  width: 20vw;
  height: 0.1vw;
  border-radius: 20px;
  background-color: #00000022;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5vw;
  /* allow only till 15vw  and after that make it scrollable with scrollbar hidden*/
  width: 21vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  height: fit-content;
}
.tags::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.tagg {
  padding: 0.4vw 1vw;
  border-radius: 10vw;
  font-size: 0.8vw;
  background: #0000000c;
}

.vprod_title {
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 1vw;
}

.vrating {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: flex-end;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
}
.vrating_1 {
  font-weight: 500;
  font-size: 1.6vw;
}
.vrating_2 {
  font-weight: 500;
  font-size: 1.2vw;
}
.vrating_3 {
  font-weight: 500;
  font-size: 0.9vw;
}
.prodprice {
  display: flex;
  gap: 1.5vw;
  align-items: flex-end;
  justify-content: flex-start;
}
.price_symbol {
  font-size: 1.5vw;
}
.price_value {
  font-size: 1.5vw;
}

.act_price,
.mrp_price {
  display: flex;
  gap: 0.4vw;
}

.mrp_price {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}
.mrp_price .price_symbol {
  font-size: 1vw;
}
.mrp_price .price_value {
  font-size: 1vw;
}

.offer_value {
  color: #000000;
  font-size: 1.1vw;
  text-decoration: none;
}

.lowest {
  text-decoration: underline;
  font-size: 1.3vw;
}
.last_updated {
  display: flex;
  font-size: 0.9vw;
}
.verif {
  font-size: 0.9vw;
}

.xtra_info {
  display: flex;
}

.xtra_text {
  display: flex;
  gap: 1.1vw;
}

.xtra_text,
.xtra_tx {
  font-size: 1vw;
  font-weight: 500;
}
.use_but {
  display: flex;
  gap: 1vw;
}
.use_butt {
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 0.4vw 0vw;
  border: 0;
}
.use_butt:hover {
  background-color: #454545;
}
.ub {
  min-width: 10vw;
}
